# Default ignored files
/../../MyTool./.idea/shelf/
/../../MyTool./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../MyTool./.idea/httpRequests/
# Datasource local storage ignored files
/../../MyTool./.idea/dataSources/
/../../MyTool./.idea/dataSources.local.xml
