# Default ignored files
/../../工具初版./.idea/shelf/
/../../工具初版./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../工具初版./.idea/httpRequests/
# Datasource local storage ignored files
/../../工具初版./.idea/dataSources/
/../../工具初版./.idea/dataSources.local.xml
